@page "/"

@using FinalProject.Components.Layout.States
@using FinalProject.Models
@using FinalProject.Services
@inherits LayoutComponentBase
@inject  ILogger<MainLayout> Logger;
@inject UserService UserService;

<div class="main">
    @if (_loggedInUser is null)
    {
        <LoginPage LoginCallback="@LoginCallbackAsync" SignUpCallback="@SignUpCallbackAsync"/>
    }
    
    @if (_loggedInUser is not null)
    {
        <HomePage User="_loggedInUser" LogOutCallback="LogOutAsync"/>
    }
</div>

@code {
    private User? _loggedInUser;

    private async Task LoginCallbackAsync(LoginPage.LoginPayload payload)
    {
        User? loggedIn = await UserService.AuthAsync(payload.Username, payload.Password);
        if (loggedIn is null) return;

        _loggedInUser = loggedIn;
        StateHasChanged();
    }
    
    private async Task SignUpCallbackAsync(LoginPage.SignUpPayload payload)
    {
        User user = new(payload.Email, payload.Username, payload.Password);
        bool success = await UserService.SignupAsync(user);
        if (!success) return;

        _loggedInUser = user;
        StateHasChanged();
    }

    private async Task LogOutAsync()
    {
        _loggedInUser = null;
        StateHasChanged();
        await Task.CompletedTask;
    }

}